[Unit]
Description=Loxone/Harmony Hub integration service
After=network-online.target

[Service]
SyslogIdentifier=LoxoneHarmony
ExecStart=/usr/bin/java -jar /opt/loxone-harmony-integration/loxone-harmony-integration-all.jar
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target
